<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:amazon="http://schemas.amazon.com/apk/res/android"
    package="com.pwcgarage.ibeaconref"
    android:versionCode="2"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- required for accessing beacons -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- This permission ensures that no other application can intercept your ADM messages.  -->
    <permission
        android:name="com.pwcgarage.ibeaconref.permission.RECEIVE_ADM_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.pwcgarage.ibeaconref.permission.RECEIVE_ADM_MESSAGE" />

    <!-- This permission allows your app access to receive push notifications from ADM. -->
    <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />

    <!-- ADM uses WAKE_LOCK to keep the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- required to generate UUIDs -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="BeaconReferenceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Amazon Device MEssaging stuff -->
	    <!-- Enable ADM (optional feature), if not available certain features will not work -->
	    <amazon:enable-feature android:name="com.amazon.device.messaging" android:required="false"/>
	    
	    <service android:name="com.pwcgarage.ibeaconref" android:exported="false" />
 
		<receiver android:name="com.pwcgarage.ibeaconref" android:permission="com.amazon.device.messaging.permission.SEND" >
 
		    <!-- To interact with ADM, your app must listen for the following intents. -->
		    <intent-filter>
				<action android:name="com.amazon.device.messaging.intent.REGISTRATION" />
				<action android:name="com.amazon.device.messaging.intent.RECEIVE" />
	 
				  <!-- Replace the name in the category tag with your app's package name. -->
				  <category android:name="com.pwcgarage.ibeaconref" />
			</intent-filter>
		</receiver>
		<!-- end ADM -->
        
        <activity
            android:name="com.pwcgarage.ibeaconref.MonitoringActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pwcgarage.ibeaconref.SettingsActivity" />
        <activity
            android:name="com.pwcgarage.ibeaconref.RangingActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- Define Services required for AltBeacon to start and process events -->
        <service
            android:name="org.altbeacon.beacon.service.BeaconService"
            android:enabled="true"
            android:exported="false"
            android:isolatedProcess="false"
            android:label="beacon" />
        <service
            android:name="org.altbeacon.beacon.BeaconIntentProcessor"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>